@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');

.containerr {
    height: 50px;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(233, 91, 214), rgb(227, 77, 171), rgb(218, 78, 170), rgb(210, 80, 170), rgb(202, 81, 170), rgb(193, 82, 170), rgb(185, 83, 169), rgb(176, 84, 169), rgb(168, 85, 169), rgb(160, 87, 169), rgb(151, 88, 168), rgb(143, 89, 168));
}
.title{
    margin-top: 70px;
    margin-bottom: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
.containerr {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    /* position: fixed;   
    top: 0;          
    width: 100%;      
    z-index: 1000; */
}

.lead {
    font-family: 'Quicksand';
}

.header-bar {
    position: relative;
    width: 90%;
    min-width: 300px;
    height: 100px;
    border: 10px solid transparent;
    border-top: 10px solid #fffa;
    border-left: 10px solid #fffa;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}

.header-bar::after {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    width: 53%;
    height: 70px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fffa;
    border-right: 10px solid #fffa;
    transition: 0.3s linear all;
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #b0b0b0;
    color: rgb(1, 0, 0);
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    display: none; 
  }
  
  .back-to-top:hover {
    background-color: #a8a4a4b7;
  }
.header-bar>.logo {
    position: absolute;
    top: calc(50% - 20px);
    left: 10px;
    transform: translateY(-20%);
    color: #fffc;
    font-family: 'Parisienne', cursive;
    cursor: default;
    user-select: none;

}

.logo {
    width: 95px;
    height: 105px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.slider-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.slider-menu>li {
    display: inline-flex;
    padding: 15px;
    margin-left: 2px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    cursor: pointer;
    transition: 0.3s linear all;
    user-select: none;
}

.slider-menu>li:hover {
    color: #faa;
    box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}

.aeu-signature {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    font-size: 15px;
    line-height: 30px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.aeu-signature {
    font-family: "Quicksand";
}

.aeu-signature>img {
    height: 30px;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    top: 100%;
 
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }

}

.dropdown-content li {
    color: black;
    padding: 5px 5px 5px 5px ;
    text-decoration: none;
    display: block;
    text-align: center;
    align-items: center;
}

.dropdown-content li:hover {
    transition: all 0.5s ease;
    color: #faa;
    box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
    border-left: 2px solid #3ca0e7;
}


.dropdown:hover .dropdown-content {
    display: block;
    color: #faa;
    box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}


.navbar li:hover,
.dropdown:hover .navbar li {
    background-color: #111;
}

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  .menu-col ul,
  .menu-col ul li {
    color: white;
  }
  
  /* Style links inside menu items */
  .menu-col ul li a {
    color: white;
    text-decoration: none; /* Remove underline from links */
  }
  
  /* Hover effect for links */
  .menu-col ul li a:hover {
    text-decoration: underline; /* Add underline on hover */
  }